

$gray-400: rgba(42, 42, 42, 1);
$primary: #000000 ;
$secondary: #ffffff;


@import '~bootstrap/scss/bootstrap.scss';


@font-face {
  font-family: 'Forum';
  src: url(./assets/fonts/Forum/Forum-Regular.ttf);
}

.hero-sections-container {
  background-color: #161412;
  height: 300px;

  .img-wrapper { 
    height: 100%;
    background-image: url('../src/assets/images/IMGL9164.jpg');
    background-size: cover;
    background-position: center;
  }
  a, p, h1{
    color: white;
  }
 
  .btns-wrapper {
    display: flex;
    gap: 1en;
  }
  
} 

p, a {
  color: var (--bs--gray--400);
  font-family: 'Forum';
}