

$gray-400: rgba(42, 42, 42, 1);
$primary: #000000 ;
$secondary: #ffffff;


@import '~bootstrap/scss/bootstrap.scss';


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #104fcc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.hero-sections-container {
  background-color: #161412;
  height: 300px;

  .img-wrapper { 
    height: 100%;
    background-image: url('../src/assets/images/IMGL9164.jpg');
    background-size: cover;
    background-position: center;
  }
  a, p, h1{
    color: white;
  }
 
  .btns-wrapper {
    display: flex;
    gap: 1en;
  }
  
} 

p, a {
  color: var (--bs--gray--400);
}